doctype html

html
  head
    link(rel='stylesheet',href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet',href='/css/style.css')
  body
    .container
      nav.navbar.navbar-default
        .navbar-header
          a(href='/').navbar-brand Brand
          button.navbar-toggle
            .icon-bar
            .icon-bar
            .icon-bar
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/') AAA
            li
              a(href='/addPost') BBB
      hr
      .jumbotron
        h1 index.jade
        div(ng-app='myApp')
          h2 {{100+2}}
          hr

      div(ng-view)


script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src='/js/app.js')
